body {
    font-family: monospace;
    font-size: 16px;
}
#div1 {
    width: 400px;
    height: 150px;
    padding: 15px;
    background-color: white;
    box-shadow: 8px 8px grey;
    margin: 0 auto;
    word-break: break-all;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -9em;
    /*set to a negative number 1/2 of your height*/
    margin-left: -15em;
}
span {
    float: right;
    font-size:0.9em; 
}
.button {
    float: right;
    margin-top: 16em;
    /*set to a negative number 1/2 of your height*/
    margin-right: 21em;
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    background-color: white;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px #999;
}
.button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.layer {
    margin: 0 auto;
    margin-top: 50px;
    width: 500px;
    height: 30px;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
}
